.bg-container{
    background-image: url("bg.jpg");
    background-size: cover;
    height: 300px;
}

#nav_heading{
    color: white !important;
}

.nav-button{
    background-color: white !important;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center
}
.main-heading{
    color: white;
    font-size: 20px;
    font-family: "sans-serif";
}

.main-desc{
    color: white;
    font-size: 16px;
    font-family:"Courier New";
}

.panda-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panda-img {
    height: 200px;
    width: 200px;
   }

.cat-heading{
    font-size: 40px;
    margin-top: 16px;
    font-family: "sans-serif";
    font-weight: bold;
}

.cat-desc{
    font-size: 20px;
    font-family:"Courier New";
    width: 350px;

}

.cat-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servc{
    text-align:center;
    font-size: 40px;
    font-family:"sans-serif";
    font-weight: bold;
    text-decoration: underline;
}

.icon{
    height: 70px;
    width:70px;
    border-radius: 50px;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.icon-card-container{
    display: flex;
    justify-content: space-around;
}

.serv-content{
    text-align: center;
}